---
layout: default
title: Home
navigation: true
order: 1
---


<div class="homepage">
  <div class="masthead" data-index="0">
    <div class="wrapper container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="type-wrapper text-center">
            <p id="type-space">
              Are you interested in... <br><span id="typer"></span>
            </p>
          </div>
          <p class="intro">
            We host
            <a href="{{ '/series/tech-talks' | prepend: site.baseurl }}">tech talks</a>,
            <a href="{{ '/series/socials' | prepend: site.baseurl }}">socials</a>,
            <a href="{{ '/events/hackathons/hacklondon-2016' | prepend: site.baseurl }}">big</a> and
            <a href="{{ '/events/hackathons/local-hack-day' | prepend: site.baseurl }}">small</a> hackathons,
            various
            <a href="{{ '/series/algorithms-in-c' | prepend: site.baseurl }}">workshops</a>,
            <a href="{{ '/series/coding-and-cookies' | prepend: site.baseurl }}">classes</a>,
            and
            <a href="{{ '/projects' | prepend: site.baseurl }}">projects</a> for any UCL student.
          </p>
          <p class="intro">And the best bit? Membership is now completely free.</p>
          <p><a href="http://uclu.org/clubs-societies/tech-society" class="join-now">Become A Member!</a></p>
          <p class="intro">Like our Facebook page for the latest updates and events; and join our Slack community to natter with current members.</p>
          <p>
              <a href="https://facebook.com/uclutechsoc" class="join-now"><i class="icon icon-facebook"></i> Learn More</a>
              <a href="https://techsoc.slack.com" class="join-now"><i class="icon icon-slack"></i> Connect With Us</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--<section class="latest">
    <div class="wrapper container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3>Coming up</h3>
          {% include scripts/events_upcoming events=site.events %}
          {% for event in events_upcoming_result | limit: 3 %}
            {% include event-overview.html event=event %}
          {% endfor %}
        </div>
        <div class="col-sm-6">
          <h3>Recent blog posts</h3>
          {% assign posts = site.posts | sort: "date" | reverse %}
          {% for post in posts %}
            <div>{{ post.title }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>-->

  <section class="tech-talks techtalks-img" data-index="1">
    <div class="wrapper container-fluid">
      <h2 id="tech-talks" class="section-title">Tech talks</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <div class="description">
            <p>Find out about the latest tech trends and get some insight into the tech world from speakers throughout the industry.</p>
            <p>We’ve previously hosted companies such as Google, Shazam, Kano and Bloomberg on topic ranging from building mobile applications to being employee #1 in a highly successful tech startup.</p>
          </div>
          <a href="{{ '/series/tech-talks' | prepend: site.baseurl }}" class="button">See all tech talks</a>
        </div>
      </div>
    </div>
  </section>

  <section class="workshops workshop-img" id="workshops" data-index="2">
    <div class="wrapper container-fluid row">
            <h2 id="workshops" class="section-title">Workshops and Classes</h2>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="description">
                  <p>Learn about <a href="{{ '/series/coding-and-cookies' | prepend: site.baseurl }}">web development</a>, <a href="{{ '/series/blender-and-brownies' | prepend: site.baseurl }}">Blender</a>, brush up on your <a href="{{ '/series/algorithms-in-c' | prepend: site.baseurl }}">C programming</a> knowledge or come chill and learn about <a href="{{ '/series/hardware-and-chill' | prepend: site.baseurl }}">hardware</a>!</p>
                </div>
              </div>
            </div>
      </div>
    </section>

    <section class="projects projects-img" data-index="3">
      <div class="wrapper container-fluid row">
          <h2 id="projects" class="section-title">Projects</h2>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <div class="description">
                <p>Join us as we work together to build something awesome while trying out new technologies and learning new skills!</p>
              </div>
              <a href="{{ '/projects' | prepend: site.baseurl }}" class="button">See all our projects</a>
            </div>
          </div>
      </div>
  </section>

  <section class="socials socials-img" data-index="4">
      <div class="wrapper container-fluid">
        <h2 id="socials" class="section-title">Socials</h2>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <div class="description">
              <p>TechSoc socials are a great chance to hang out, meet people involved in different parts of the society and make awesome new friends!</p>
              <p>We do a bi-weekly social, collaborations with other societies, days out in London, and a scavenger hunt. Everyone’s welcome, whether or not you’re a member!</p>
            </div>
            <a href="{{ '/series/socials' | prepend: site.baseurl }}" class="button">See all socials</a>
          </div>
        </div>
      </div>
  </section>

  <section class="hackathons hackathons-img" data-index="5">
    <div class="wrapper container-fluid">
      <h2 id="hackathons" class="section-title">Hackathons</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <div class="description">
            <p>We love hackathons here at TechSoc! Whether we’re running our own or venturing across the UK and beyond, you’re bound to find us working on a cool new project.</p>
            <p>In the past, we’ve hosted a seriously successful Local Hack Day with our local community and we’ll be hosting <a href="http://hacklondon.org">HackLondon</a> with <a href="http://kcl.tech">KCL Tech</a> in February 2016. Until then, join us as we hit up hackathons in London and around the UK.</p>
          </div>
          <a href="{{ '/series/hackathons' | prepend: site.baseurl }}" class="button">See all hackathons</a>
        </div>
      </div>
    </div>
  </section>

  <!--<section class="hacklondon">
    <div class="wrapper container-fluid">
      <h2 id="hacklondon" class="section-title">HackLondon</h2>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <div class="description">
            <p>Find out about the latest tech trends and get some insight into the tech world from speakers throughout the industry.</p>
            <p>We’ve previously hosted companies such as Google, Shazam, Kano and Bloomberg on topic ranging from building mobile applications to being employee #1 in a highly successful tech startup.</p>
          </div>
        </div>
      </div>
    </div>
  </section>-->

  <section class="partners-homepage" data-index="6">
    <div class="wrapper container-fluid">
      <h3 id="partners" class="section-title">Sponsors &amp; Partners</h3>
      {% assign sponsors = site.sponsors | sort: "order" %}
      {% for sponsor in sponsors %}
        <a href="{{ sponsor.link }}" title="{{ sponsor.name }}" class="partner logo">
          <img src="{{ sponsor.logo | prepend: site.baseurl }}" alt="{{ sponsor.name }} logo" class="{{ sponsor.name | slugify }}">
        </a>
      {% endfor %}
      {% for partner in site.data.partners %}
        <a href="{{ partner.link }}" title="{{ partner.name }}" class="partner logo">
          <img src="{{ partner.logo | prepend: site.baseurl }}" alt="{{ partner.name }} logo" class="{{ partner.name | slugify }}">
        </a>
      {% endfor %}
    </div>
  </section>

</div>
