{% assign _today = site.time             | date: "%Y-%m-%d" %}
{% assign _event_start_date = event.start_time | date: "%Y-%m-%d" %}
{% assign _event_end_date = event.end_time | date: "%Y-%m-%d" %}

<div class="event-overview{% if _today > _event_start_date %} past-event{% endif %}">
  <div class="row">
    <div class="col-sm-2">
      <div class="date">{{ event.start_time | date: "%a, %-d %b" }}</div>
      <div class="time">{{ event.start_time | date: "%H:%M" }}{% if event.end_time and _event_start_date == _event_end_date %} &ndash; {{ event.end_time | date: "%H:%M" }}{% endif %}</div>
    </div>
    <div class="{% if event.actions %}col-sm-8{% else %}col-sm-10{% endif %}">
      <h2>
        {% unless include.hide_category %}
          {% include category-link.html event=event %}
        {% endunless %}
        <a href="{{ event.url | prepend: site.baseurl }}" class="title">{{ event.title }}</a>
        {% if event.facebook_id %}
          <a href="https://www.facebook.com/events/{{ event.facebook_id }}" class="facebook-link"><i class="icon-facebook"></i></a>
        {% endif %}
      </h2>
      <div class="location">
        <i class="icon icon-location"></i>
        {{ event.location }}
      </div>
    </div>
    {% if event.actions %}
    <div class="col-sm-2">
      <div class="actions">
      {% for action in event.actions %}
        <a href="{{ action.url }}" class="action">{{ action.label }}</a>
      {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
