<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">

      <div class="site-nav-header">
        <a href="{{ site.baseurl }}/" class="site-logo">
          <img src="{{ "/assets/images/logo-white.png" | prepend: site.baseurl }}" alt="{{ site.title }} logo">
        </a>
        <h1>{{ site.title }}</h1>
        <button type="button" class="toggle collapsed" data-toggle="collapse" data-target="#site-nav-links" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul id="site-nav-links" class="site-nav-links collapse">
        {% assign sorted_pages = site.pages | where: "navigation",true | sort: "order" %}
        {% for node in sorted_pages %}
          {% if node.title %}
            <li><a class="{% if node.url == page.url %}current{% endif %}" href="{{ node.url | replace:'index.html','' | prepend: site.baseurl }}"><span>{{ node.title }}</span></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
