<div class="box ">
	<a target="_blank" class="series-overview" href="{{ resource.resource-url }}">
		<div class="align-with-level">
			<h3 class="resource-title">{{ resource.title }} </h3>
				{% if resource.audience %}
					<img class="resource-level level-{{resource.audience}}">
				{% else %}
					<img class="resource-level level-beginner">
				{% endif %}
		</div>
		<p> {{ resource.blurb }} {% if resource.suggester %} <br>Suggested by: <i>  {{resource.suggester }} </i>  {% endif %}</p>

		<div class="button"> <b> Learn more! </b> </div>
	</a>
</div>