---
layout: page-with-title
title: Resources
permalink: /resources/
redirect_from: /resources.html
navigation: true
order: 4
---

<div style="text-align: center;">
	<div class="page-tagline">
		<p>
		Getting into technology can be difficult: you don't know where to look or what to look at, so we thought we'd put together a collection of our favourite resources that we, as members of UCLU TechSoc, have used to learn in the past!
		</p>

		<p>
		If you know a really good learning resource, feel free to let us know about it!
		</p>



	</div>

	{% assign categories = site.resource-type | sort: "order"  %}

	<div class="responsive-boxes">
	{% for category in categories %}
		{% include resource-category.html category=category %}
	{% endfor %}
	</div>



</div>
