html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: $brand-primary;

  &::after {
    content: '';
    position: absolute;
    background-size: contain;
    top: -50px;
    left: 0;
    right: 0;
    height: 450px;
    opacity: .035;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    height: 63.25vw;
    max-height: 100vh;
    /* background: linear-gradient( $brand-primary,rgba(0,0,50,0) 100%), */
        /*        url(../images/homepage/hl4_edit.jpg); */
    background-size: cover;
    z-index: -1;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

p {
  margin-bottom: 1em;
}

a {
  transition: color 200ms linear,
              border-color 200ms linear,
              background-color 200ms linear;
}

p a {
  color: white;
  border-bottom: .125em solid rgba($brand-ternary, .5);

  &:hover {
    color: white;
    border-color: $brand-ternary;
  }
}

code {
  font-family: "Source Code Pro", Consolas, Monaco, monospace;
}

.wrapper {
  max-width: $max-site-width;
  margin: 0 auto;
}
