html, body {
  height: 100%;
}

body {
  background-color: $brand-primary;

  &::after {
    content: '';
    position: absolute;
    background: url(../images/logo-white.png) center no-repeat;
    background-size: contain;
    top: -50px;
    left: 0;
    right: 0;
    height: 400px;
    opacity: .03;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 63.25%;
    background: linear-gradient(rgba(0,0,51,0), $brand-primary 75%),
                url(../images/UCL.jpg);
    background-size: cover;
    z-index: -1;
  }
}

.wrapper {
  max-width: $max-site-width;
  margin: 0 auto;
}
