html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: $brand-primary;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

p {
  margin-bottom: 1em;
}

a {
  transition: color 200ms linear,
              border-color 200ms linear,
              background-color 200ms linear;
}

p a {
  color: white;
  background-color: transparent;
  border-bottom: .125em solid rgba($brand-ternary, .5);

  &:hover {
    color: white;
    background-color: rgba($brand-ternary, 0.5);
    border-color: $brand-ternary;
  }
}

code {
  font-family: "Source Code Pro", Consolas, Monaco, monospace;
}

.wrapper {
  max-width: $max-site-width;
  margin: 0 auto;
}

// Remove after freshers
.nav-wrapper {
  padding-top: 70px;
}

.background-image{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 130vh;
    max-height: 130vh;

    width: 100%;
}

.background-homepage{
    @extend .background-image;
    // background: linear-gradient( #121c44,rgba(0,0,50,0) 100%),url(../images/homepage/hl4_edit.jpg);
    background: linear-gradient(to right top,
        rgba($brand-primary,1) 60%,
        rgba($brand-secondary, 0.6)
    );
    background-position: center;
    background-size: cover;

}

.background-normal{
    @extend .background-image;

    background: linear-gradient(
        rgba($brand-primary, 0),
        $brand-primary 90%
    ),
    linear-gradient(45deg,
        rgba($brand-primary,0),
        rgba($brand-secondary, 0.25) 95%
    ),

    url(../images/UCL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.job-container {
  text-align:center;
  max-width: 1100px;
  margin: 0 auto;
}

.job-text{
   margin-left: 16.66667%;
   margin-right: 16.66667%;
}

.company-highlight{
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.1;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 3px;
  padding: 1px 3px;
  margin-right: 3px;
  &:hover {
    text-decoration: none;
    border-color: white;
    color: white;
  }
}


.job-title{
  margin-top: 10px;
}

.deadline {
  color: rgba(255,255,255,.6);

  .icon {
      font-size: 110%;
      color: rgba(255,255,255,.3);
      margin-right: .05em;
  }
}

.apply-now{
  @extend .company-highlight;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 15px;
  padding: 10px 10px;
  margin-right: 3px;
  margin-top:20px;
    &:hover {
    text-decoration: none;
    border-color: #d81e5b;
    color: #d81e5b;
  }
}

