.posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-overview {
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.1);

  .title {
    margin: 0;
    padding: 0;
    line-height: 26px;

    a {
      font-size: 20px;
      color: white;
    }
  }

  .date {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    color: rgba(255,255,255,.5);
  }

  .excerpt {
    font-size: 16px;
    margin-bottom: 1em;
  }
}
.post-content {
  border: 3px solid rgba(255,255,255,.1);
  border-radius: 10px;
  padding: 2em 2em 1.5em;

  .page-heading {
    margin-top: 0;
  }

  p {
    font-size: 17px;
    line-height: 1.4;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1em;
  }
}