.events-view-tabs {
  text-align: center;
  margin-bottom: 2em;

  li {
    display: inline-block;

    a {
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      border: 3px solid rgba(white, .25);
      color: rgba(white, .4);
      padding: .35em .7em;
    }

    a:hover, a:active, &.active a {
      color: white;
      border-color: white;
      background-color: transparent;
    }

    &:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child a {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

@media (min-width: $screen-md-min) {
  #calendar {
    margin-top: -4.25em;

    .sk-circle {
      margin-top: 10em;
    }
  }
}


@media (max-width: $screen-xs-max) {
  #list {
    display: block !important;
    opacity: 1 !important;
  }
  #calendar, .tabs {
    display: none !important;
  }
}

.empty-notice {
  font-size: 1.125em;
  color: rgba(white, .65);
  text-align: center;
  line-height: 1.5;
}

.event-overview {
  padding: 10px 0;
  border-color: rgba(255,255,255,.1);
  border-style: solid;
  border-width: 0 0 1px 0;

  &:first-of-type {
    border-top-width: 1px;
  }

  &, h2 {
    line-height: 24px;
  }

  .date {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
    white-space: nowrap;
  }

  .time {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    white-space: nowrap;
  }

  .category {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 1px 3px;
    margin-right: 3px;

    &:hover {
      text-decoration: none;
      border-color: white;
      color: white;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  .facebook-link {
    font-size: 1.25em;
    margin-left: .1em;
    color: rgba(255,255,255,.15);
    vertical-align: text-top;
    transition: color 200ms linear;

    &:hover {
      color: white;
    }
  }

  .location {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    margin-left: -.1em;
    color: rgba(255,255,255,.25);
  }

  .actions {
    .action {
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255,255,255,.35);
      line-height: 1.1;
      padding: 5px 5px 4px;
      border-radius: 3px;
      border: 2px solid rgba(255,255,255,.2);

      &:hover {
        border-color: white;
        color: white;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;

    h2 {
      margin: 0;
    }

    .title {
      display: block;
      padding: .35em 0;
      margin: 0;
    }

    .facebook-link {
      display: none;
    }

    .actions {
      .action {
        margin-top: 10px;
        padding: 8px;
      }
    }
  }
}

.event-header {
  text-align: center;
  margin: .5em 0 2em;

  .title {
    font-size: 32px;
    font-weight: 700;
    margin: .75em 0;
  }

  .category {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    padding: 1px 6px;

    &:hover, &:active {
      border-color: white;
      color: white;
    }
  }

  .subtext {
    font-size: 1.125em;
    color: rgba(255,255,255,.6);
    margin-top: -.5em;
    margin-bottom: 1.25em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .metadata {
    font-size: 18px;
    color: rgba(255,255,255,.6);

    .icon {
      font-size: 110%;
      color: rgba(255,255,255,.3);
      margin-right: .05em;
    }
  }

  .actions {
    margin: 20px 0 0;

    .action {
      display: inline-block;
      font-size: 17px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255,255,255,.35);
      padding: 1px 7px;
      border-radius: 4px;
      border: 3px solid rgba(255,255,255,.2);
      margin: 0 .35em .5em;

      &:hover {
        border-color: white;
        color: white;
        text-decoration: none;
      }
    }
  }
}

body .event-content p {
  margin-bottom: 1.2em;
}

body .event-notice {
  font-size: 1.0625em;
  text-align: center;
  border: 3px solid rgba(255,255,255,.2);
  border-radius: 8px;
  color: rgba(255,255,255,.45);
  padding: 0.6em 1em;
  margin-bottom: 1.5em;

  a {
    color: rgba(255,255,255,.7);

    &:hover {
      color: white;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.calendar-subscription {
  margin: 2em 0 0;

  .description {
    text-align: center;
    color: rgba(white, .4);
    transition: color 200ms linear;

    p {
      font-size: 1.125em;
      margin-bottom: .5em;
    }

    button {
      font-size: 1em;
      font-weight: bold;
      color: rgba(white, .5);
      text-transform: uppercase;
      display: inline-block;
      background-color: transparent;
      border: 3px solid rgba(white, .25);
      border-radius: 5px;
      padding: 6px 12px;
      transition: color 200ms linear,
                  border-color 200ms linear;

      &:hover {
        color: white;
        border-color: white;
      }

      .icon {
        margin-right: .1em;
      }
    }
  }
}

#subscription-guide {
  border: 3px solid rgba(white, .25);
  border-radius: 10px;
  margin: 1em 0;

  .subscription-guide-tabs {
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0 0;
    border-bottom: 2px solid rgba(white, .25);

    li {
      display: inline-block;
      margin-bottom: -2px;

      a {
        color: rgba(white, .5);
        display: inline-block;
        border: 2px solid transparent;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &:hover, &:active, &:focus {
          background-color: transparent;
          color: white;
        }
      }
    }

    .active {
      a {
        color: white;
        border-color: rgba(white, .25);
        background-color: $brand-primary !important;
      }
    }
  }

  .guide-content {
    color: rgba(white, .6);
    padding: 2em 2em 1.5em;
    line-height: 1.5;

    em, strong {
      font-style: normal;
      color: rgba(white, .85);
    }

    code {
      font-size: 0.875em;
      padding: .2em .4em;
      margin: 0 .15em;
      border-radius: 3px;
      background-color: rgba(white, .1);
      color: rgba(white, .9);
    }
  }
}

body .contact-notice {
  margin-top: 3em;
  text-align: center;

  h3 {
    font-size: 1.166em;
    font-weight: normal !important;
  }
}
