.event-overview {
  padding: 10px 0;
  border-color: rgba(255,255,255,.1);
  border-style: solid;
  border-width: 0 0 1px 0;

  &:first-of-type {
    border-top-width: 1px;
  }

  &, h2 {
    line-height: 24px;
  }

  .date {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
  }

  .time {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
  }

  .category {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    color: rgba(255,255,255,0.4);
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 3px;
    padding: 1px 3px;
    margin-right: 3px;
    transition: border-color 200ms linear,
                color 200ms linear;

    &:hover {
      text-decoration: none;
      border-color: white;
      color: white;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  .location {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    margin-left: -.1em;
    color: rgba(255,255,255,.25);
  }

  .actions {
    .action {
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255,255,255,.4);
      line-height: 1.1;
      padding: 5px 5px 4px;
      border-radius: 3px;
      border: 2px solid rgba(255,255,255,.2);
      transition: color 200ms linear,
                  border-color 200ms linear;

      &:hover {
        border-color: white;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .event-overview {
    text-align: center;

    h2 {
      margin: 2px 0;
    }

    .title {
      display: block;
      padding: 6px 0 2px;
    }
  }
}
