.site-footer {
  padding: 40px 0;

  .company {
    font-size: 1.375em;
    margin-bottom: .33em;
  }

  .copyright {
    font-size: 1.0625em;
    color: rgba(255,255,255,.3);
  }

  .mailing-list {
    text-align: right;
    margin-top: 5px;

    a {
      color: rgba(255,255,255,.25);

      &:hover {
        color: white;
      }
    }
  }

  .social-media-list {
    font-size: 1em;
    text-align: right;

    .icon {
      font-size: 2.25em;
      margin-left: .3em;
      color: rgba(255,255,255,.2);
      transition: color 200ms linear;
    }

    a:hover .icon {
      color: white;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .site-footer,
  .social-media-list,
  .mailing-list {
    text-align: center !important;
  }
}
