// Remove banner after freshers
.banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($brand-secondary, 0.6);
  width: 100%;
}
.banner-content {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: white;
  a {
    text-decoration: underline;
    color: white;
  }
}

.site-header {
    // background: rgba($brand-primary, 0.2);
    background: linear-gradient(
        rgba($brand-primary, 0.5),
        rgba($brand-primary, 0) 80%
    );
    transition: background 0.25s ease-in-out;

    &:hover {
        background: $brand-primary;
    }
}

.site-nav {
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.site-nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    font-size: 1.166em;
    color: white;
    margin: 0;

    a {
      color: white;
    }
  }

  $logo-size: 9vw;
  $logo-max-size: 100px;
  $logo-min-size: 55px;

  .site-logo img {
    width: $logo-size;
    height: $logo-size;
    min-width: $logo-min-size;
    min-height: $logo-min-size;
    max-width: $logo-max-size;
    max-height: $logo-max-size;
  }

  .toggle {
    display: none;
    float: right;
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-right: 5px;

    .icon-bar {
      background-color: $brand-primary;
      display: block;
      width: 24px;
      height: 3px;

      &+.icon-bar {
        margin-top: 4px;
      }
    }

    &.collapsed {
      background-color: transparent;
    }

    &.collapsed .icon-bar {
      background-color: white;
    }
  }
}

.site-nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: visible;

  &.collapsing {
    transition-duration: 200ms;
  }
}

.site-masthead {
  margin-bottom: 30px;
}

@media (max-width: $screen-xs-max) {
  .site-nav {
    font-size: 17px;
    display: block;
    padding: 0;
  }

  .site-nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

    .toggle {
      display: block;
    }
  }

  .site-nav-links {
    text-align: center;

    li {
      display: block;
      border-top: 1px solid rgba(255,255,255,.13);

      &:last-of-type {
        border-bottom: 1px solid rgba(255,255,255,.13);
      }
    }

    a {
      font-weight: normal;
      color: white;
      display: block;
      padding: 11px 11px 12px;

      &:active, &:focus {
        background-color: rgba(0,0,0,.25);
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .site-logo img {
    margin-right: 10px;
  }

  .site-nav-links {
    display: block !important;
    height: auto !important;
    overflow: visible !important;

    li {
      display: inline;
    }

    a {
      padding: 12px 12px;
      color: white;

      span {
        border-bottom: 2px solid transparent;
        transition: border-color 200ms linear;
        padding-top: 2px;
      }

      &:hover span {
        border-bottom-color: $brand-secondary;
      }

      &.current {
        padding: 10px 4px;
      }

      &.current span {
        border: 2px solid rgba($brand-secondary,.75);
        border-radius: 4px;
        padding: 2px 6px;
      }
    }
  }
}
