.homepage {

  section {
    padding: 2.5em 0;
    text-align: center;
    border-top: 1px solid rgba(white, .1);

    &:last-of-type {
      border-bottom: 1px solid rgba(white, .1);
    }

    .section-title {
      font-size: 2em;
      font-weight: 700;
      line-height: 1.15;
      text-transform: uppercase;
      margin: 0 0 1em;
    }

    .description {
      font-size: 1.25em;
      line-height: 1.5;
      color: rgba(white, .7);
    }

    .button {
      font-size: 1.1875em;
      font-weight: 700;
      color: rgba(white, .4);
      text-transform: uppercase;
      border: 3px solid rgba(white, .2);
      border-radius: 6px;
      padding: 7px 13px 6px;
      display: inline-block;
      margin-top: .75em;

      &:hover {
        color: white;
        border-color: white;
      }
    }
  }


  .masthead {
    text-align: center;
    padding: 2em 0;

    h1 {
      font-size: 36px;
      font-weight: normal;
      margin: 0 0 .75em;
    }

    .intro {
      font-size: 1.375em;
      color: rgba(white, .7);
    }

    .join-now {
      font-size: 1.3125em;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      padding: 7px 20px;
      margin: 10px 0 50px;
      border-radius: 6px;
      color: white;
      text-decoration: none;
      border: 3px solid rgba(255,255,255,.4);

      &:hover {
        border-color: white;
      }
    }
  }


  .partners-homepage {
    text-align: center;

    .section-title {
      color: rgba(white, .4);
      font-size: 1.75em;
      font-weight: 400;
      margin: 0 0 .5em;
    }
  }

  .partner {
    display: inline-block;
    margin: 1em;

    img {
      height: 3em;
      max-width: 100%;
      opacity: .3;
      transition: opacity 200ms linear;
    }

    img.ucl {
      height: 4em;
    }

    &:hover img {
      opacity: 1;
    }
  }

}
