.homepage {

  section {
    padding: 4em 0;
    text-align: center;
    border-top: 1px solid rgba(white, .1);

    &:last-of-type {
      border-bottom: 1px solid rgba(white, .1);
    }

    .section-title {
      font-size: 2em;
      font-weight: 700;
      line-height: 1.15;
      text-transform: uppercase;
      margin: 0 0 1em;
    }

    .description {
      font-size: 1.25em;
      line-height: 1.5;
      color: rgba(white, .8);
      text-shadow: 0 1px 5px $brand-primary;
    }

    .button {
      font-size: 1.1875em;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      border: 3px solid rgba($brand-secondary, .5);
      border-radius: 6px;
      padding: 7px 13px 6px;
      display: inline-block;
      margin-top: .75em;
      background-color: transparent;

      &:hover {
          border-color: $brand-secondary;
          background-color: $brand-secondary;
      }
    }
  }

  .masthead {
    text-align: center;
    padding: 2em 0;
    min-height: 90vh;
    padding: 1.5em 0;

    h1 {
      font-size: 36px;
      font-weight: normal;
      margin: 0 0 .75em;
    }

    .intro {
      font-size: 1.25em;
      line-height: 1.6;
      color: rgba(white, .7);
    }

    .join-now {
      font-size: 1.3125em;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      padding: 7px 20px;
      margin: 5px 5px 0 5px;
      border-radius: 6px;
      color: white;
      text-decoration: none;
      border: 3px solid rgba($brand-secondary,.5);
      background-color: transparent;

      &:hover {
        border-color: $brand-secondary;
        background-color: $brand-secondary;
      }
    }
  }

    @include bp-mob {
        .masthead {
            padding: 3em 0;

            .intro {
                font-size: 1.375em;
            }

        }
    }

    @include bp-tab {
        section:not(.partners-homepage) {
            height: 70vh;
        }
        section#mid {
            padding: 0;
            .col-md-6 {
                border-top: 1px solid rgba(white, .1);
                padding: 4em 0;
            }
        }
        .tech-talks, .socials, .partners-homepage {
        background-color: rgba(255,255,255,.6);
        color: #fff33;

            .description, a {
              color: #fff33;
              border-color: #fff33;
            }
        }
        .partners-homepage {
            background-color: rgba(255,255,255,.05);
        }
    }
    @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (-webkit-min-device-pixel-ratio: 1) {
        .masthead {
            height: auto;
            padding: 10vh 0;
        }
    }

  .partners-homepage {
    text-align: center;

    .section-title {
      color: rgba(white, .4);
      font-size: 1.75em;
      font-weight: 400;
      margin: 0 0 .5em;
    }
  }

  .partner {
    display: inline-block;
    margin: 1em;

    img {
      height: 3em;
      max-width: 100%;
      opacity: .3;
      transition: opacity 200ms linear;
    }

    img.ucl {
      height: 4em;
    }

    &:hover img {
      opacity: 1;
    }
  }

  .img-container {
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    width: auto;
    background-size: cover !important;
    z-index: -1;
    background-attachment: fixed !important;
  }

  $img-container-bg-color:linear-gradient(
    rgba($brand-primary, 0.55),
    rgba($brand-primary, 0.55)
  );

  .socials-img{
    @extend .img-container;
    background: $img-container-bg-color, url('../images/homepage/socials3.jpg');
  }

  .techtalks-img{
    @extend .img-container;
    background: $img-container-bg-color, url('../images/homepage/technight.jpg');
  }

  .hackathons-img{
    @extend .img-container;
    background:$img-container-bg-color, url('../images/homepage/hl.jpg');
  }

  .workshop-img{
   @extend .img-container;
   background: $img-container-bg-color, url('../images/homepage/workshops.jpg')
  }

  .projects-img{
   @extend .img-container;
   background: $img-container-bg-color, url('../images/homepage/projects.jpg')
  }

  .community-img{
   @extend .img-container;
   background: $img-container-bg-color, url('../images/homepage/community.jpg')
  }

}
