.join-now {
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  padding: 11px 25px;
  margin: 25px 0 50px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  border: 3px solid rgba(255,255,255,.4);
}

.join-now:hover {
  background-color: white;
  color: #003;
  text-decoration: none;
}
