.sponsor-overview {
  padding: 30px 10px;

  .logo {
    display: block;
    text-align: center;
    width:300px;
  }

  .logo img {

    max-width: 90%;
  }

  .name {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: .25em 0;
  }

  .level {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255,255,255,.4);
    margin-top: 0;
  }

  .level-platinum {
    color: rgba(255,255,255,.9);
    text-shadow: 0 0 20px rgba(255,255,255,.55);
  }

  .level-crystal {
    color: rgba(151, 151, 255, 0.8);
  }

  .level-gold {
    color: rgba(216, 182, 0, 0.65);
  }

  .level-startup {}

  .description {
    font-size: 0.9375em;
    font-style: italic;
    color: rgba(white,.5);
    margin-top: 1.5em;

    p {
      margin: .75em 0 0;
    }
  }
}

.partners {
  text-align: center;

  .logo {
    display: inline-block;
    margin: 1.5em;

    img {
      height: 3.5em;
      max-width: 100%;
      opacity: .3;
      transition: opacity 200ms linear;
    }

    img.ucl {
      height: 4.25em;
    }

    &:hover img {
      opacity: 1;
    }
  }
}

img.blackrock {
  height: 300px;
  padding: 16px 0 8px;
}

img.bloomberg {
  height: 300px;
  padding: 15px 0 0px;
}

img.credit-suisse {
  padding: 0px 0 8px;
}

img.microsoft {
  padding: 8px 0 1px;
}

img.ucl {
  padding: 7px 0 0px;
}

img.deutsche-bank {
  height: 135px;
}

a:hover img.microsoft {
  .text   { fill: #706d6e; }
  .orange { fill: #f1511b; }
  .green  { fill: #80cc28; }
  .blue   { fill: #00adef; }
  .yellow { fill: #fbbc09; }
}

@media (max-width: $screen-xs-max) {

}
