.project-overview {
  display: block;
  padding: 2em;
  border: 3px solid rgba(255,255,255,.2);
  border-radius: 10px;
  margin-bottom: 1.25em;

  h3, h4, .excerpt {
    transition: color 200ms linear;
  }

  &:hover {
    border-color: white;
    color: white;

    h3, h4, .excerpt {
      color: white;
    }
  }

  .status {
    float: right;
    font-size: 1em;
    font-weight: 400;
    color: $brand-primary;
    background-color: rgba(255,255,255,.25);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 2px 5px;
    line-height: 1;
    display: inline-block;
    margin-bottom: .5em;
    transition: background-color 200ms linear;
  }

  .status.active {
    background-color: rgba(0,240,0,.4);
  }

  &:hover {
    .status {
      background-color: rgba(255,255,255,.35);
    }
    .status.active {
      background-color: rgba(0,240,0,.5);
    }
  }

  h3 {
    font-size: 1.75em;
    font-weight: bold;
    margin: 0 0 .35em;
  }

  h4 {
    font-size: 1.125em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 .65em;
    color: rgba(255,255,255,.4);
  }

  .logo {
    width: 100%;
    border-radius: 4px;
  }

  .excerpt {
    font-size: 1.0625em;
    line-height: 1.4;
    color: rgba(255,255,255,.5);
    margin: 0;
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;

    .status {
      float: none;
    }

    .logo {
      max-width: 175px;
      margin-bottom: 20px;
    }
  }
}

.project-header {
  text-align: left;
  margin: .5em 0 2em;

  .logo {
    border-radius: 8px;
    width: 100%;
  }

  .title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 .25em;
  }

  .category {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255,255,255,.4);
    margin: 0 0 .5em;
  }

  .actions {
    margin: 15px 0 0;

    .action {
      display: inline-block;
      font-size: 17px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255,255,255,.35);
      padding: 1px 7px;
      border-radius: 4px;
      border: 3px solid rgba(255,255,255,.2);
      margin: 0 .5em .5em 0;

      &:hover {
        border-color: white;
        color: white;
        text-decoration: none;
      }
    }
  }

  .subtext {
    font-size: 1.125em;
    margin-top: .5em;
    color: rgba(255,255,255,.6);

    em {
      font-style: normal;
      color: white;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .status {
    font-size: 18px;
    font-weight: 700;
    color: $brand-primary;
    background-color: rgba(255,255,255,.35);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 2px 5px;
    line-height: 1;
    display: inline-block;
    margin-bottom: .5em;
    transition: background-color 200ms linear;
  }

  .status.active {
    background-color: rgba(0,230,0,.4);
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;

    .logo {
      max-width: 175px;
      margin-bottom: 20px;
    }
  }
}

.project-content {

  h1 {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 1em 0 .5em;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
  }
}
