.resource-level{
	width: 25px;
	height: 25px;
	float:right;
	padding-right: 27px;
	border-radius: 100%;
	border-color: #fff;
}

.level-beginner{
	background-color: rgba(0, 211, 63, 0.79);
}

.level-medium{
	background-color: rgba(79, 221, 237, 0.79);
}

.level-pro{
	background-color: #d81e5b;
}

.align-with-level{
	display: flex;

}

.level-key{
	float:none;
}

.resource-title{
	width:100%;
}

.key{
	padding: 10px;
}