.series-overview {

  flex: 1;
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(white,.12);
  border-radius: 6px;
  padding: 1em;
  text-align: center;
  transition: border-color 200ms linear;

  &:hover {
    border-color: white;
    text-decoration: none;
  }

  h3 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3;
    color: white;
    text-transform: uppercase;
    margin: 0 0 .35em;
  }

  p {
    flex: 1;
    font-size: 1em;
    color: rgba(white,0.45);
    transition: color 200ms linear;
  }

  &:hover p {
    color: white;
  }

  .button {
    font-size: 0.875em;
    font-weight: bold;
    color: rgba(white,.6);
    text-transform: uppercase;
    border-radius: 3px;
    border: 3px solid rgba(white,0.12);
    width: 100%;
    padding: 7px;
    align-self: flex-end;
    transition: background-color 200ms linear,
                color 200ms linear;
  }

  &:hover {
    .button {
      border-color: transparent;
      background-color: $brand-secondary;
      color: white;
    }
  }

  &.new {
    border-color: rgba(white, .5);
    overflow: hidden;

    &::before {
      content: 'New';
      color: $brand-primary;
      background-color: rgba(white, .5);
      font-size: 0.9375em;
      font-weight: 700;
      text-transform: uppercase;
      margin: -1.125em -1.125em .8em;
      padding: .125em;
      transition: background-color 200ms linear;
    }

    &:hover {
      border-color: white;

      &::before {
        background-color: white;
      }
    }
  }
}

.series-header {
  text-align: center;
  margin: .5em 0 2em;

  .title {
    font-size: 36px;
    font-weight: 700;
    margin: .5em 0;
  }

  .subtext {
    font-size: 1.125em;
    color: rgba(white,.6);

    em {
      font-style: normal;
      color: white;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.series-events {
  margin-top: 3em;

  h1 {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 2em 0 .75em;
  }

  @media (max-width: $screen-xs-max) {
    h1 {
      font-size: 22px;
      text-align: center;
    }
  }
}
