.responsive-boxes {
  display: flex;
  flex-wrap: wrap;
  // align-items: stretch;
  margin: 0 -10px;

  .box {
    flex: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0 auto;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: $screen-xs-min) {
  .responsive-boxes .box {
    max-width: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: $screen-sm-min) {
  .responsive-boxes .box {
    max-width: 33.333%;
    flex-basis: 33.333%;
  }
}
