/* Typer styles */
.type-wrapper {
  margin: auto;
  padding: 10px 20px 10px 20px;
  color: #F0F0F0;
/*  background-color: rgba(204,204,204,0.2);*/
  border-radius: 10px;
  font-size: 30px;
  z-index: 1;
  display: none;
}

#type-space{
    font-size: 0.9em;
}

@include bp-mob {
    .type-wrapper {
      display: inline-block;
    }
    #type-space {
      font-size: 1em;
    }
}

.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
