.highlight {
  font-size: 13px;
  background-color: rgba(0,0,0,.35) !important;
  border-radius: 6px;

  pre {
    margin: 1em 0;
    padding: 15px;
  }

  .lineno {
    padding-right: 7px;
    color: rgba(255,255,255,.3);
    user-select: none;
  }
}
