---
layout: page-with-title
title: About
permalink: /about/
redirect_from: /about.html
navigation: true
order: 2
---


<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="about-content post-content">
      <h2 class="page-heading">Who are we?</h2>
      <p>
        We are the only all-encompassing technology society at University College London. Our membership is open to anyone and everyone in the UCL and IoE community.
      </p>
      <p>
        We help bridge the gap between students’ ambitions and potential careers; connecting them to those in the industry and to each other, with talks from across a range of industries, alongside career and alumni events. </p>
      <p>
        Our society is also a platform for the development of technical skills; engaging those new to technology and encouraging those that love it, from the project groups to tutorials.
      </p>
      <p>
        Ultimately we aim to provide a community for naturally curious, passionate and creative individuals who are willing to make a positive impact to connect with each other.
      </p>

    </div>
  </div>
</div>

<h2 class="page-heading">Team</h2>

<div class="responsive-boxes">
  {% assign team = site.data.people | where: "team", true %}
  {% for member in team %}
    {% include member-overview.html member=member %}
  {% endfor %}
</div>
