---
layout: page-with-title
title: Sponsors
permalink: /sponsors/
redirect_from: /sponsors.html
navigation: true
order: 6
---

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% assign sponsors = site.sponsors | sort: "order" %}
    {% for sponsor in sponsors %}
    <div class="sponsor-overview">
      <div class="row">
        <div class="col-sm-4">
          <a href="{{ sponsor.link }}" target="_blank">
            <img src="{{ sponsor.logo | prepend: site.baseurl }}" alt="{{ sponsor.name }} logo" class="logo">
          </a>
        </div>
        <div class="col-sm-8">
          <h2 class="name">{{ sponsor.name }}</h2>
          {% if sponsor.level %}
            <h3 class="level level-{{ sponsor.level | downcase }}">{{ sponsor.level }} sponsor</h3>
          {% endif %}
          <div class="description">
            {{ sponsor.content }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
