---
layout: page-with-title
title: Graphs
permalink: /graphs/
redirect_from: /graphs.html
---

<body style="text-align: center;">

{% assign graphs = site.graphs %}
{% for graph in graphs %}
	{% include graph-overview.html graph=graph %}
{% endfor %}




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.js"></script>
<script src="../assets/js/graphs/members.js"></script>
<script src="../assets/js/graphs/committeeSlack.js"></script>
<script src="../assets/js/graphs/freshers.js"></script>
 -->

</html>