
.icon-slack:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-website:before { content: '\e80d'; } /* '' */
.icon-list:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */