<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title and page.title != "Home" %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- stylesheets -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>

  <body>
    <div class="site-container">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

    </div>
  </body>

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "/assets/js/typed.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/bootstrap_custom.js" | prepend: site.baseurl }}"></script>
</html>
