<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include scripts/event_category event=page %}

    <title>
      {% if page.title and page.title != "Home" %}
        {{ page.title }} -
      {% endif %}
      {% if event_category_result %}
        {{ event_category_label_result }} -
      {% endif %}
      {{ site.title }}
    </title>




    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">

    <!-- stylesheets -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <!-- For icons (just used for spotify) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
    <meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_username }}">

  </head>
  <body >
{% if page.title == 'Home' %}
  <div class="background-homepage">
{% else %}
  <div class="background-normal">
{% endif %}
    <div class="site-container" >
      {% include header.html %}
        {{ content }}
      {% include footer.html %}

    </div>
  </div>
  </body>

  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!--   CUSTOM SCROLLING -->
<!--   <script src="{{ "/assets/js/customScroll.js" | prepend: site.baseurl }}"></script> -->
<script type="text/javascript" src="{{ "/assets/all.js" | prepend: site.baseurl }}"></script>
</html>
