---
layout: page-with-title
---

<div style="text-align: center;">
	<div class="page-tagline">
		<p>
		{{page.caption}}
		</p>

    <p>
    We've colour coded the resources depending on the audience:
    </p>

		<img class="resource-level level-beginner level-key"> Beginner <tb>
		<img class="resource-level level-medium level-key"> Medium
		<img class="resource-level level-pro level-key"> Advanced

	</div>

	{% assign categories = site.resource-type %}
	{% assign resource_list = site.data.resources.resource_list %}

	{% for resource in resource_list %}
	<div class="responsive-boxes">
    {{ resource.name}}
    {% if resource.category == page.category %}
      {% include resource-overview.html resource=resource %}
    {% endif %}
	</div>
	<!-- <div class="responsive-boxes ">
		{% if resource_list %}
		    {% for resource in resource_list  %}
					{{ resource_list.title }}
		    	{% if resource.category == category.category %}
			      {% include resource-overview.html resource=resource %}
		    	{% endif %}
		    {% endfor %}
		{% endif %}
	</div> -->
	{% endfor %}

</div>
