---
layout: page-narrow
---

{% assign series = page %}
{% include scripts/event_status event=series %}

<div class="series-page">
  <div class="series-header">

    <h1 class="title">{{ series.title }}</h1>

    {% if series.leads %}
      <div class="leads">
        With
        {% for name in series.leads %}
          <span>{{ name }}</span>{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
  <div class="series-content">
    {{ content }}
  </div>
  <div class="series-events">
    {% assign events = site.events | where: "series_id", series.id %}
    {% include category-events.html events=events %}
  </div>
</div>
