---
layout: page-with-title
title: Events
permalink: /events/
redirect_from: /events.html
navigation: true
order: 3
---

{% include scripts/events_upcoming events=site.events exclude_invalid_date=true %}

<!-- Events view tabs -->
<ul class="nav tabs events-view-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#list" aria-controls="list" role="tab" data-toggle="tab" class="list-view-button">
      <i class="icon icon-list"></i>
      List view
    </a>
  </li>
  <li role="presentation">
    <a href="#calendar" aria-controls="calendar" role="tab" data-toggle="tab" class="calendar-view-button">
      <i class="icon icon-calendar"></i>
      Calendar view
    </a>
  </li>
</ul>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane fade in active" id="list">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% if events_upcoming_result.size > 0 %}
          {% for event in events_upcoming_result %}
            {% include event-overview.html event=event %}
          {% endfor %}
        {% else %}
          <p class="empty-notice">
              We're just finalising our freshers events. Be patient!
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="calendar">
    <!-- By SpinKit - http://tobiasahlin.com/spinkit/ -->
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

    <div class="calendar-subscription">

      <div class="description">
        <p>Never miss an event.</p>

        <button class="subscribe-to-calendar" type="button" data-toggle="collapse" data-target="#subscription-guide" aria-expanded="false" aria-controls="subscription-guide" data-expanded-text="Close instructions">
          Subscribe to our calendar
        </button>
      </div>

      <div id="subscription-guide" class="collapse">

        <ul class="nav subscription-guide-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#google-calendar" aria-controls="google-calendar" role="tab" data-toggle="tab" class="google-calendar-button">
              Google Calendar
            </a>
          </li>
          <li role="presentation">
            <a href="#apple-calendar" aria-controls="apple-calendar" role="tab" data-toggle="tab" class="apple-calendar-button">
              Apple Calendar
            </a>
          </li>
          <li role="presentation">
            <a href="#office365" aria-controls="office365" role="tab" data-toggle="tab" class="office-365-button">
              Office 365
            </a>
          </li>
        </ul>

        {% assign calendar = site.calendars | where: "title", "All Events" | first %}
        {% assign calendar_url = calendar.url | prepend: site.baseurl | prepend: site.url %}

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane fade in active" id="google-calendar">

{% capture instructions %}

1. In the left sidebar, click the arrow next to *Other calendars*.
2. Select *Add by URL*.
3. Enter the URL `{{ calendar_url }}` and click on *Add calendar*.

It might take a few minutes for the calendar to appear on Google Calendar.

{% endcapture %}

            <div class="guide-content">
              {{ instructions | markdownify }}
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="apple-calendar">

{% capture instructions %}

1. Select *File* &rarr; *New Calendar Subscription...*
2. Enter the URL `{{ calendar_url }}` and click *Subscribe*.
3. Set *Auto-refresh* to *Every day*. Then click *OK*.

{% endcapture %}

            <div class="guide-content">
              {{ instructions | markdownify }}
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="office365">

{% capture instructions %}

1. From your inbox, open My Apps from the top-left corner and select *Calendar*.
2. From the top menu bar, select *Add calendar* &rarr; *From internet*.
3. Under *Link to calendar*, enter the URL `{{ calendar_url }}`
4. Click *Save* in the top menu.

{% endcapture %}

            <div class="guide-content">
              {{ instructions | markdownify }}
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>


<h2 class="page-heading">Event series</h2>
<div class="responsive-boxes">
  {% for series in site.series %}
    {% include series-overview.html series=series %}
  {% endfor %}
</div>

<div class="contact-notice post-content">
  <h3>Interested in running an event with us?</h3>
  <p>Get in touch at <a href="mailto:events@techsoc.io">events@techsoc.io</a></p>
</div>
